.Provided-services {
  .Highlight {
    padding: 20px;
    text-align: center;
  }

  .Services {
    .Service {
      h2 {
        font-weight: normal;
        margin-bottom: 10px;
      }

      .Icon {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
      }

      border: 1px solid #ababab;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-bottom: 20px;
      position: relative;
      padding: 20px 15px;
      min-height: 150px;
      -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 1);
      -moz-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 1);
    }

    position: relative;
    width: 100%;
  }

  padding: 30px 25px 50px;
}

@media screen and (min-width: 480px) and (max-width: 960px) {
  .Provided-services {
    .Services {
      .Service {
        &:nth-child(2n) {
          margin-right: 0;
        }

        width: calc((100% / 2) - 46px);
        float: left;
        min-height: 280px;
        margin: 20px 20px 0 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .Provided-services {
    .Services {
      width: 100%;
    }

    padding: 50px 25px 100px;
  }
}

@media screen and (min-width: 960px) {
  .Provided-services {
    .Services {
      .Service {
        &:nth-child(3n) {
          margin-right: 0;
        }

        width: calc((100% / 3) - 46px);
        float: left;
        margin: 20px 20px 0 0;
      }
    }
  }
}
