@import "./styles/StyleVariables";

.Container {
  .Content {
    width: 100%;
    margin: auto;
  }

  min-height: 100%;
  min-width: 100%;
  width: 100%;
  background: $Smoke-grey;
  color: #454545;
}

.Clearfix {
  clear: both;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-weight: normal;
}

h1, h2, p {
  padding-bottom: 10px
}

@media screen and (min-width: 768px) {
  .Container {
    .Content {
      width: 720px;
    }
  }
}
